<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>16 Personalities Test</h1>
            {% if choices %}
                <p>{{ text }}</p>
                <ul>
                    {% for (result, page_name, letter, choice) in choices %}
                    <li>
                        {% set letter = result + letter %}
                        <a href="{{ url_for(page_name, letter=letter) }}">{{choice}}</a>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ text }} {{letter}} ({{type[1]}})</p>
                {% set url = 'images/' + type[0].lower() %}
                <p>{{letter}}s are usually {{type[2]}}</p>
                <img class='img' src="{{ url_for('static', filename=url)

                 }}">
                <p></p>
                <p><a href="{{url_for('start', my_var='my_value')}}">Play again.</a></p>
            {% endif %}
        </div>
    </body>
</html>
